body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #14a80f;
  text-decoration: none;
}

ul{
  list-style: none;
}

header {
  display: flex;
  align-items: center;
}

nav {
  flex-grow: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin:0;
}

footer p {
  text-align: center;
}

.welcome-section {
  max-width: 600px;
  margin: 0 auto;
}

a:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 10px;
}

main {
  padding: 20px;
}