<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelibuida - Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <% include("./header") %>
    </header>

    <main>
        <section class="welcome-section">
            <p>Bienvenidos a este mini sistema de peliculas</p>
            <hr>
            <h3>Para que mires:</h3>
            <ul>
                <li><a href="/movies">Todas las peliculas</a></li>
                <li><a href="/movies/recommended">Recomendados</a></li>
                <li><a href="/movies/news">Tendencias</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <% include("./footer") %>
    </footer>
</body>
</html>
